<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ProductMapper">
    <resultMap id="map1" type="ProductInfo">
        <id column="product_id" property="prdId"></id>
        <result column="product_type_id" property="typeId"/>
        <result column="name" property="prdName"/>
        <result column="description" property="desc"/>
        <result column="price" property="price"/>
    </resultMap>

    <sql id="common_sql">
        select p.product_id,p.product_type_id,p.name,p.description,p.price
        from products p
    </sql>
    <select id="findAllProducts" resultMap="map1">
       <include refid="common_sql"></include>
    </select>

    <select id="findProductById" parameterType="int" resultMap="map1">
        <include refid="common_sql"></include>
        where p.product_id=#{prdId}
    </select>

    <insert id="saveInfo" parameterType="ProductInfo">
        <selectKey order="BEFORE" keyProperty="prdId" resultType="int">
            select ifnull(max(product_id)+1,1) from products
        </selectKey>
        insert into products(product_id,product_type_id,name,description,price)
        values(#{prdId},#{typeId,jdbcType=INTEGER},#{prdName},#{desc,jdbcType=VARCHAR}
        ,#{price,jdbcType=NUMERIC})
    </insert>
</mapper>